
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}



/* Top Bar */

.head{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.head .button i{
    align-items: end;
}







/* Navbar */
.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 38px; /* Adjust the height of the logo */
    width: auto;
    margin-right: 10px;
}



.navbar-nav .nav-item h6{
  
    cursor: pointer;
    transition: all .5;
    padding: 37px 25px;
    color: #666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 200;
    display: block;

}

.navbar-nav .nav-item h6:hover{
 color: #00c0e2;
}



/* Recent Works Section */
.recent-works-section {
    background: #ffffff;
    padding: 50px 0;
    border-top: 1px solid #f2f2f2;
}


.filter-list {
    padding-left: 0;
    margin-bottom: 20px;

}

.filter-list li {
    margin-right: 45%;
}

.filter-list a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #007bff40;
    color: #007bff;
    border-radius: 20px;
    font-size: 14px;
transition: all .3s ease-in-out;

}

.filter-list a.active
.filter-list a:hover {
    background-color: #007bff;
    color: #fff;
  

}
.row{
    display: flex;
    flex-wrap: wrap;
justify-content: start;
}

.recent-works-section .row h2{
    margin-right: 50px;
}


.recent-works-section a {
    color: #007bff;
    text-decoration: none;
   

}

.recent-works-section a:hover {
    text-decoration: underline;
    background-color: #00C0E1;
    color: #fff;

}










.recent-works-section h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: #666;
    padding-left: 31px;
    padding-right: 30px;
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.recent-works-section p {
    text-align: center;
    margin-top: 15px;
    font-weight: 300;
    line-height: 1.5;
}


.work-item {
border: none;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
padding: 25px 0;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px rgba(181, 176, 176, 0.1);

}

.work-item img {
    width: 100%;
    border-radius: 15px;
    height: auto;
    display: block;
    max-width: 100%;
    position: relative;
transition: all .6s ease-in-out;
transform: scale(1);
}

.work-item:hover {
    transform: scale(1.09);
}

.work-info  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
   justify-content: space-around;
  background-color: #00C0E1;
    color: #fff;
    padding: 9px;
    text-align: left;
    opacity: 0;
    transition: all 0.5s ease-out;
    transform: translateY(-24px);
}


.work-item:hover .work-info {
    opacity: 1;
    transform: translateY(-0px);
}

.work-info h5 {
    margin: 0;
    font-size: 16px;
}

.work-info p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}
.work-info .button i{
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 15px;
    width: 24px;
    height: 23px;
     border-radius: 30%;
     border: 1px solid #ffff;
     transition: all .3s ease-in;
     transform: scale(1.2);
    }
    
    .work-info .button i:hover{
        background-color: #ffffff50;
        transform: scale(1);
    }
    
    
    .ii{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    
    .btn-outline-secondary {
        color: #333;
        border: 1px solid #ddd !important;
        color: #555 !important;
        border-radius: 2px;
        background: #fff;
        font-size: 13px !important;
        padding: 10px 20px !important;
        display: inline-block;
        margin-top: 30px;
   margin-left: 45%;
        font-weight: 300 !important;
        line-height: 20px !important;
        min-width: inherit !important;
        transition: all .4s ease-in-out;
        transform: scale(1.1);
        
    
    }
    
    .btn-outline-secondary:hover {
        background-color: #cccccc3f;
        border-color: #909498e1;
    color: #000;
    transform: scale(1);
    }
   
    


    .footer-section {
        background-color: #f9f9f9;
        padding: 50px 0;
        font-size: 14px;
    }
    
    .footer-section h5 {
        font-size: 19px;
        font-weight: 200;
        color: #777;
        padding-bottom: 15px;
    }
    
    .footer-section ul {
        list-style: none;
        padding-left: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
        color: #777;
        font-weight: 200;
    }
    
    .footer-section ul li i {
        margin-right: 10px;
    }
    
    .social-icons a {
        background-color:#5555553a ;
        width: 20px;
        height: 20px;
        border-radius: 20%;
        margin-right: 10px;
        font-size: 25px;
        color: #777;
        transition: color 0.3s ease;
    }
    
    .social-icons a:hover {
        color: #00c0e2;
    }
    
    .tag-cloud .tag {
        display: inline-block;
        background-color: #e9ecef;
        color: #555555a0;
        font-weight: 200;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 5px 3px;
        font-size: 12px;
        text-decoration: none;
        transition: all .4s ease-in-out;
        transform: scale(1.1);
    }
    
    .tag-cloud .tag:hover {
        transform: scale(1);
        background-color: #a1a1a173;
        color: #0d0c0c;
    }
    
    .flickr-photos img {
        padding: 5px 5px;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    
    .flickr-photos img:hover {
        transform: scale(1.1);
    }

    @media (max-width: 768px){
        .filter-list a {
           padding: 0  15px 0;
            
        }
    }

    